.navbar navbar-expand-lg navbar-light bg-light {
  background-color:#c91616;
}

body {
  background-image: url('3026431590cb64c73cd0002e024e2dba.jpg');
}

#hello {
  justify-content: left;
  text-align: left;
  padding-top: 80px;
  padding-left: 50px;
  font-size: 95px;
  color: maroon;
}

#nice {
  justify-content: left;
  text-align: left;
  padding-left: 50px;
  font-size: 40px;
  color: rgb(177, 43, 43);
}

.logo {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
  width: 50;
  height: 50px;
}

#weltext {
  justify-content: left;
  text-align: left;
  padding: 50px;
  padding-top: 10px;
  font-size: 45px;
  color: maroon;
}

#gtkm {
  padding-top: 16px;
  padding-left: 26px;
  color: darkred;
}

#gtkma {
  padding-left: 26px;
  padding-right: 26px;
  font-size: 16px;
  display: block;
  line-height: 22px;
  color: rgb(121, 17, 17);
}

#wdil {
  padding-left: 26px;
  color: saddlebrown;
}

#wdila{       
  padding-left: 26px;
  font-size: 16px;
  line-height: 22px;
  color: rgb(131, 59, 26);
}

#wdill {
  padding-left: 55px;
  list-style-type: circle;
  font-size: 16px;
  line-height: 22px;
  color: rgb(110, 58, 16);
}

#cm {
  padding-left: 26px;
  color: darkred;
}

#cma {
  padding-left: 26px;
  font-size: 16px;
  line-height: 22px;
  color: rgb(121, 17, 17);
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: justify;
  font-size: 20px;
  padding-right: 5px;

}

.row::after {
  content: "";
  clear: both;
  display: table;
}
