.navbar navbar-expand-lg navbar-light bg-light {
  background-color:#c91616;
}

body {
  background-image: url('3026431590cb64c73cd0002e024e2dba.jpg');
}

.logo {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
  width: 50;
  height: 50px;
}

#gtkm {
  padding-top: 16px;
  padding-left: 26px;
  color: darkred;
}

#gtkma {
  padding-left: 26px;
  padding-right: 26px;
  font-size: 16px;
  display: block;
  line-height: 22px;
  color: rgb(121, 17, 17);
}

#wdil {
  padding-left: 26px;
  color: saddlebrown;
}

#wdila{       
  padding-left: 26px;
  font-size: 16px;
  line-height: 22px;
  color: rgb(131, 59, 26);
}

#wdill {
  padding-left: 55px;
  list-style-type: circle;
  font-size: 16px;
  line-height: 22px;
  color: rgb(110, 58, 16);
}

#cm {
  padding-left: 26px;
  color: darkred;
}

#cma {
  padding-left: 26px;
  font-size: 16px;
  line-height: 22px;
  color: rgb(121, 17, 17);
}

.column1 {
  width: 33%;
  border: 3px solid rgb(255, 130, 130);
  margin: 1px;
}

.column2 {
  width: 33%;
  border: 3px solid rgb(255, 126, 216);
  margin: 1px;
}

.column3 {
  width: 33%;
  border: 3px solid rgb(177, 108, 255);
  margin: 1px;
}

.column4 {
  width: 33%;
  border: 3px solid rgb(76, 248, 176);
  margin: 1px;
}

.column5 {
  width: 33%;
  border: 3px solid rgb(126, 124, 243);
  margin: 1px;
}

.column6 {
  width: 33%;
  border: 3px solid rgb(63, 165, 248);
  margin: 1px;
}

.column7 {
  width: 33%;
  border: 3px solid orange;
  margin: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
